a.xref_plugin {
    padding-left: 18px;
    background: transparent url(xref.png) left top no-repeat;
}

a.xref_plugin_err {
    color: __missing__ !important;
    text-decoration: none !important;
    border-bottom: dashed 1px __missing__ !important;
}

